<mat-toolbar color="primary">
  Angular Material 2 App
</mat-toolbar>
<div class="basic-container">
  <p>
    <button mat-button (click)="openDialog()">Open Confirm Dialog</button>
  </p>
  <p>
    <button mat-button (click)="openAlertDialog()">Open Alert Dialog</button>
  </p>
  <p>
      <button mat-button (click)="openGenericDialog()">Open Generic Dialog</button>
  </p>
  <span class="version-info">Current build: {{version.full}}</span>
</div>
<mat-list></mat-list>
<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->