
#search-com{
  color:#aa3c9f;
}
mat-form-field {
  width: 100%;
}

.add-btn{
    float: right;
    right:91px;
    position: relative;
 
}
.customer-img{
  height:30px;
  width:30px;
  margin-left:-32px;
  
}
.customer-names{
  padding-left:13px;
  padding-top:1px;
}
mat-selection-list{
  position:relative;
  margin-top:-20.5px;
  width:100%;
  height:80vh;
}
.customer-names:hover {
  color:pink;
 }
 ::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}
mat-list-item{
  cursor:pointer;
}

button.mat-raised-button{
  top:113px;
}


.mat-dialog-content{

  height: 200px;
    position: relative;
      width:350px;

  top:80px;
}

